# Exclude .ropeproject directory
.ropeproject/

# Exclude specific files
codebase.md
flatten_files.yml
mdproj.md
pyrightconfig.json
.ipynb_checkpoints/
mdproj.py
./pd_1d_rule_solver/__pycache__
pd_1d_rule_solver/__pycache__/
